<footer>
   <div class="friends-links-container">
      <div class="friends-links-header">
        <p>Friend_Link😝</p>
      </div>
        
      <div class="friends-list">
            
        <div class="friend-item">
          <a href="https://www.cclmsy.cc" target="_blank" rel="noopener noreferrer">
            <img src="/assets/images/cclmsy.jpg" alt="好友一" class="friend-avatar">
          </a>
          <span class="friend-name">深翼cclmsy</span>
        </div>
            
        <!-- <div class="friend-item">
          <a href="https://another-example.com" target="_blank" rel="noopener noreferrer">
            <img src="/path/to/friend-avatar2.jpg" alt="好友二" class="friend-avatar">
          </a>
          <span class="friend-name">好友二</span>
        </div> -->
            
      </div>
    </div>
    <p class="ps">—— 如果你也想添加友链，请邮箱联系我！💐</p>
    <hr>
      <p>&copy; {{ 'now' | date: "%Y" }} | Luxynth</p>

</footer>
