<!DOCTYPE html>
<html lang="zh-CN">
  {% include head.html %}
  <body>
    <div class="fixed-background"></div>
    <main  class="blogfeed">
      {% include header.html %} {% include bio.html %} {% include navigation.html %}
     <section id="articles">
        {% for post in site.posts limit: 3 %}
        {% if post.thumbnail %}
        <article class="article">
          <div class="article-top">
            <div class="article-thumbnail">
              <div class="article-title">
                <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
              </div>
            </div>
          </div>
          <div class="article-bottom">
            <small class="article-date">{{post.date | date_to_string}}</small>
            <div class="article-categories">
              <div class="article-categories">
                {% for c in post.categories %}
                <h1>
                  <a
                    href="#!"
                    data-base-url="{{site.baseurl}}"
                    class="article-category"
                    >{{c}}</a
                  >
                </h1>
                {% endfor %}
              </div>
            </div>
          </div>
        </article>
        {% else %}
        <article class="article">
          <h2 class="article-top">
            <div class="article-title">
              <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
            </div>
          </h2>
          <div class="article-bottom">
            <small class="article-date">{{post.date | date_to_string}}</small>
            <div class="article-categories">
              <div class="article-categories">
                {% for c in post.categories %}
                <a
                  href="#!"
                  data-base-url="{{site.baseurl}}"
                  class="article-category"
                  >{{c}}</a
                >
                {% endfor %}
              </div>
            </div>
          </div>
        </article>
        {% endif %}
        {% endfor %}
        <h1 class="ps">……更多文章请移步文章归档🎉</h1>
      </section>
      <div class="extra-container">
        <div class="extra-column">
          <div class="extra-card">
            <h1>Music_List</h1>
            <p>_________________________</p>
            {{ content }}
          </div>
        </div>
        
        <div class="extra-column">
          <div class="extra-card">
            <h1>Mini_Album</h1>
            <p>_________________________</p>
            <img src="/assets/images/album/3_4/album6.jpg">
            <img src="/assets/images/album/1_1/album1.JPG">
            <img src="/assets/images/album/3_4/album5.JPG">
            <p>_________________________</p>
          </div>
        </div>
    </div>

    </main>

    {% include scroll-down-arrow.html %}
    {% include footer.html %}
    {% include category-modal.html %}
    {% include announcement.html %}
    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
  </body>
</html>
